@page
@using Shop.BusinessObjects
@model BasketModel
@{
    ViewData["Title"] = "Home page";
}

<div class="add-event-form-card">
    @if (Model.ItemsInCartCount != 0.ToString())
    {
        <h1>Koszyk</h1>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <ul>
                @for (var i = 0; i < Model.BasketSet.BasketPositions.Count; ++i)
                {
                    <li class="add-event-form-text-area">
                        <input asp-for="BasketSet.BasketPositions[i].Event.Id" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.Name" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.Price" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.Place" type="hidden"/>
                        @* <input asp-for="BasketSet.BasketPositions[i].Event.Date" type="hidden"/> *@
                        <input asp-for="BasketSet.BasketPositions[i].Event.ShortInfo" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.ImageUrl" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.NumberOfAvailableTickets" type="hidden"/>
                        @* <input asp-for="BasketSet.BasketPositions[i].Event.CreatedBy" type="hidden"/> *@
                        <input asp-for="BasketSet.BasketPositions[i].Event.AgeRange" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].Event.AdditionalInfo" type="hidden"/>
                        <input asp-for="BasketSet.BasketPositions[i].CurrentlyAvailableTickets" type="hidden"/>

                        <div class="column">
                            <label class="checkbox-wrapper">
                                <input asp-for="BasketSet.BasketPositions[i].isChecked">
                                <span>
                                    <strong>@Model.BasketSet.BasketPositions[i].Event.Name</strong>
                                    <br/>
                                    @Model.BasketSet.BasketPositions[i].Event.Place
                                </span>
                            </label>
                        </div>
                        <div class="column">
                            @* <input asp-for="BasketSet.BasketPositions[i].Quantity"> *@
                            <div class="add-event-row-wrapper">
                                <label class="add-event-input-label" for="event-tickets">
                                    Liczba biletów: (max. @Model.BasketSet.BasketPositions[i].Event.NumberOfAvailableTickets)
                                </label>

                                <div class="add-event-img-input-wrapper">
                                    <i class="material-icons add-event-input-img">aspect_ratio</i>
                                    <input asp-for="BasketSet.BasketPositions[i].Quantity" class="add-event-form-input" min="0" max="@Model.BasketSet.BasketPositions[i].Event.NumberOfAvailableTickets">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.BasketSet.BasketPositions[i].Quantity"></span>
                        </div>
                        <div class="column-price">
                            <span>
                                * @Model.BasketSet.BasketPositions[i].Event.Price PLN
                            </span>
                        </div>
                    </li>
                }
            </ul>
            <button type="submit" class="add-event-form-button">Zamów!</button>
        </form>
    }
    else
    {
        <h2>Koszyk jest pusty :(</h2>
    }
</div>