<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Shop</title>

    <link href="@Model.PhpAddress/res/styles/index.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/utils.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/header.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/events.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/add-event.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/landing.css" rel="stylesheet"/>
    <link href="@Model.PhpAddress/res/styles/user.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Model.PhpAddress/res/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
</head>
<body>
<header>
    <span class="top-right-button closed" id="remove-navbar-button" onclick="closeNav()">
        <i class="material-icons">close</i>
    </span>

    <span class="top-right-button" id="open-navbar-button" onclick="openNav()">
        <i class="material-icons">menu</i>
    </span>

    <nav class="nav-bar closed" id="nav-bar">
        <ul class="left-menu">
            <li class="menu-item">
                <a href="@Model.PhpAddress" class="logo">
                    <img src="@Model.PhpAddress/res/images/logo.svg"/>
                    <p>Muzyka4zycie</p>
                </a>
            </li>
            @if (Model.ShowUserToken)
            {
                <li class="menu-item">
                    <a href="@Model.PhpAddress/events">Wydarzenia</a>
                </li>
                <li class="menu-item">
                    <a href="http://localhost:8081">
                    @if (Model.ShowCartCount)
                    {
                        <span class="cart-items" id="cart-items">
                            <code>@Model.ItemsInCartCount</code>
                        </span>
                    }
                        Koszyk
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-page="/Orders">Zamówienia</a>
                </li>
            }
        </ul>

        <ul class="right-menu">
            @if (Model.ShowUserToken)
            {
                <li class='menu-item'>
                    <a href='@Model.PhpAddress/user'>
                        <code>@Model.CurrentUserEmail</code>
                    </a>
                </li>
                <li class='menu-item'>
                    <a href='@Model.PhpAddress/auth/logout'>Wyloguj</a>
                </li>
            }
            else
            {
@*                 <script> *@
@*                     window.location.href = "@Model.PhpAddress/auth/login"; *@
@*                 </script> *@
                <li class='menu-item'>
                    <a href='@Model.PhpAddress/auth/register'>Rejestracja</a>
                </li>
                <li class='menu-item'>
                    <a href='@Model.PhpAddress/auth/login'>Logowanie</a>
                </li>
            }
        </ul>
    </nav>

</header>
<div class="container under-nav">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2019 - Shop - <a asp-area="" asp-page="/Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="@Model.PhpAddress/res/scripts/dialogs.js"></script>
<script src="@Model.PhpAddress/res/scripts/index.js"></script>
<script src="@Model.PhpAddress/res/scripts/events.js"></script>
<script src="@Model.PhpAddress/res/scripts/add-event.js"></script>

<script>
    var theme = '@Model.Theme';

    switch (theme) {
        // defaults from css
    case 'LIGHT_THEME': {
        document.documentElement.style.setProperty('--muted-text-color', '#6c757d');
        document.documentElement.style.setProperty('--not-black-color', '#424242');
        document.documentElement.style.setProperty('--card-background', '#ffffff');
        document.documentElement.style.setProperty('--background', '#f2f2f2');
        document.documentElement.style.setProperty('--primary-color', '#4f8f5f');
        document.documentElement.style.setProperty('--secondary-color', '#c98e75');
        document.documentElement.style.setProperty('--error-color', '#e74c3c');
        document.documentElement.style.setProperty('--error-background', 'bisque');
        document.documentElement.style.setProperty('--text-color-on-primary', '#fff');
        document.documentElement.style.setProperty('--card-text', '#232F34');
        document.documentElement.style.setProperty('--card-meta-text', '#757575');
        document.documentElement.style.setProperty('--disabled-background', '#dddddd');
        document.documentElement.style.setProperty('--disabled-color', '#9b9b9b');
        document.documentElement.style.setProperty('--dialog-background', '#ffffff');
        document.documentElement.style.setProperty('--dialog-title-color', 'rgba(0, 0, 0, .87)');
        document.documentElement.style.setProperty('--dialog-text-color', 'rgba(0, 0, 0, .6)');
        document.documentElement.style.setProperty('--dialog-button-hover-background', 'rgba(79, 143, 95, .08)');
        document.documentElement.style.setProperty('--font-family', '\'Roboto\', sans-serif');
        break;
    }
    case 'DARK_THEME': {
        document.documentElement.style.setProperty('--muted-text-color', '#eeeeee');
        document.documentElement.style.setProperty('--not-black-color', '#f2f2f2');
        document.documentElement.style.setProperty('--card-background', '#303030');
        document.documentElement.style.setProperty('--background', '#212121');
        document.documentElement.style.setProperty('--primary-color', '#4f8f5f');
        document.documentElement.style.setProperty('--secondary-color', '#c98e75');
        document.documentElement.style.setProperty('--error-color', '#e74c3c');
        document.documentElement.style.setProperty('--error-background', 'bisque');
        document.documentElement.style.setProperty('--text-color-on-primary', '#fff');
        document.documentElement.style.setProperty('--card-text', '#bababa');
        document.documentElement.style.setProperty('--card-meta-text', '#cecece');
        document.documentElement.style.setProperty('--disabled-background', '#dddddd');
        document.documentElement.style.setProperty('--disabled-color', '#9b9b9b');
        document.documentElement.style.setProperty('--dialog-background', '#646464');
        document.documentElement.style.setProperty('--dialog-title-color', 'rgba(255, 255, 255, .87)');
        document.documentElement.style.setProperty('--dialog-text-color', 'rgba(255, 255, 255, .6)');
        document.documentElement.style.setProperty('--dialog-button-hover-background', 'rgba(79, 143, 95, .08)');
        document.documentElement.style.setProperty('--font-family', '\'Roboto\', sans-serif');
        break;
    }
    case 'BLUE_THEME': {
        document.documentElement.style.setProperty('--primary-color', '#303F9F');
        document.documentElement.style.setProperty('--secondary-color', '#C2185B');
        document.documentElement.style.setProperty('--font-family', '"Comic Sans MS", fantasy');
    }
    }


</script>

@RenderSection("Scripts", required: false)
</body>
</html>